<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Gradescriptive</h2>
    <p>Your score for the exam on {{exam}}: {{score}}</p>
</body>
</html>